html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  max-width: 800px;
  margin: 0 auto;
  /* background-image: linear-gradient(to right, white, cyan); */
  background-image: url(Background.jpeg);
}
p, h1, h2, h3, a {color: white;}
main {
  /* position: absolute; */
  /* height: 260px; */
  padding: 8px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  overflow: auto;
  /* float: left; */
}
.container{
  float: left;
}
.bike {
  width: 70%;
  margin: 5px auto;
  background-image: linear-gradient(to right, orange, yellow);
  border-radius: 15%;
  border: 3px solid orange;
  padding: 20px;
  height: 450px;
  /* float:left; */
  overflow-x: scroll;
}

.biketitle {
  color: green;
  font-style: italic;
  font-size: 24px;
  font-family: Lobster; /*calling Google font "Lobster". To use this need to add link on html page */
}

img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 35%;
  border-style: groove;
  border-color: silver;
  border-width: 6px;
}
@media (max-width: 500px) {.bike {width: 100%; }}
@media (min-width: 700px) {
  .hornet, .kymco {
    width: 50%;
    float: left;
  }
  .cbf {
    width: 50%;
  }
}
